# macOS
.DS_Store

# IDEs
.idea/

# VS Code (keep shared workspace config)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Dependencies
/vendor/

# Node 
node_modules/
npm-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Logs
*.log

# Env files
.env
.env.*

# OS / misc
Thumbs.db

# Sensible folders
uploads/
upgrade/
cache/
mu-plugins/
languages/

# Other plugins/themes
plugins/*
themes/*

# Working code
!plugins/learninglab-core/
!themes/learninglab-site/